<h1>Stupid Coaching</h1>

<h2 class="message"><%=@your_message%></h2>
<h2><em>- You</em></h2>

<h2 class="answer"><%=@answer_coach%></h2>
<h2><em>- Your coach</em></h2>

<h3><%= link_to "Ask a new question", ask_path %></h3>
