// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  color: #1a1818;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #0b0d8b;
  font-family: Arial, Helvetica, sans-serif;
}

.message {
  color: #06b30f;
  font-family: Arial, Helvetica, sans-serif;
}

.answer {
  color: #f72314;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 {
  color: #9c14f7;
  font-family: Arial, Helvetica, sans-serif;
}
